.heading{
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px white;
}

.heading h2{
    display: inline;
}

.heading button{
    float: right;
    border: 2px solid white;
    font-size: 20px;
}

#status, #play{
    font-size: 22px;
    box-shadow: 5px 5px 5px white;
}

body{
    font-family: 'Montagu Slab', serif;
}

#restart{
    font-size: 20px;
    box-shadow: 5px 5px 5px white;
    margin-bottom: 70px;
    margin-top: 30px;
}

.modal-dialog{
    width: 80%;
}

.copy_right{
    background-color: white;
    color: rgb(29, 25, 54);
    line-height: 2.5;
    width: 100%;
    text-align: center;
    font-size: 17px;
    bottom: 0;
    position: fixed;
    font-family: 'Domine', serif;
}

.modal-body li{
    font-size: 18px;
    text-align: left;
}

/*1. style the canvas*/
canvas{
    background-color: linen;
    border: 10px ridge;
    box-shadow: 5px 5px 5px white;
}
